#quoteDiv {
    background-image:linear-gradient(#30323F,rgb(30, 31, 39));
    border: none;
    box-shadow: none;
    border-radius: none;
    padding-top: 50px;
}

#quote {
    color: #F7F795;
    font-size: 12pt;
    font-weight: 500;
    float: left;
}

#quoteAuthor {
    color: #F7F795;
    float: right;
}